{% extends 'base.html' %}
{% block content %}
<center>
	<h1>My All Blogs</h1>
</center>
<div class="container">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet"  href="https://code.jquery.com/jquery-3.3.1.js">
  <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
  <style>
   a{
    color:white !important;
   }
 </style>

<div class="container">

<!-- This Portion Done With The Help Of DataTable Which I Copied From DataTable Website -->
<div style="margin-bottom: 20px;">
	<a href="{% url 'addpost' %}"><button class="btn btn-success">Add Post</button></a>
</div>

<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Blogs</th>
                <th>Published Date</th>
                <th>Category</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
        	{% for i in posts %}
        	<tr>
        		<td>{{forloop.counter}}</td>
        		<td><a href="{% url 'viewblog' i.id %}" style="color: black !important;">{{i.title}}</a></td>
        		<td>{{i.date}}</td>
            <td>{{i.category}}</td>
        		<td><a href="{% url 'edit' i.id %}"><button class="btn btn-info">Edit</button></a></td>
        		<td><a href="{% url 'delete' i.id %}"><button class="btn btn-danger">Delete</button></a></td>
        	</tr>
        	{% endfor %}
          {{likes}}
        </tbody>
        <tfoot>
            <tr>
                 <th>S.no</th>
                <th>Blogs</th>
                <th>Published Date</th>
                <th>Category</th>
                <th colspan="2">Action</th>
            </tr>
        </tfoot>
    </table>
  </div>
<script >
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</div>
{% endblock %}